{% extends "base.html" %}
{%load static%}
{% block titulo%} CAMBIAR PASSWORD{% endblock %}
{% block titulo_header%}<i class="fa fa-key"></i> PASSWORD{% endblock%}
{% block contenido%}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Cambiar Password</h3>
        <div class="card-tools">

        </div>
    </div>
    <form method="post" id="changePasswordForm">
        <div class="card-body">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-4 col-xxl-4 col-sm-6">
                    <div class="form-group">
                        <label for="">Usuario</label>
                        <input class="form-control form-control-sm" type="text"
                            value="{{usuario.username}}" disabled>
                    </div>
                </div>
                <div class="col-xl-4 col-xxl-4 col-sm-6">
                    <div class="form-group position-relative">
                        <label for="">Nuevo Password</label>
                        <input class="form-control form-control-sm" type="password" name="password" id="password1">
                             <span class="show-pass eye p1" id="show-pass-p1">
                    <i class="fa fa-eye-slash"></i>
                    <i class="fa fa-eye"></i>
                  </span>
                  <ul class="errorlist">
                    <li id="errorPassword"></li>
                    </ul>
                    </div>
                </div>
                 <div class="col-xl-4 col-xxl-4 col-sm-6">
                    <div class="form-group position-relative">
                        <label for="">Confirmar Password</label>
                        <input class="form-control form-control-sm" type="password" name="password" id="password2">
                             <span class="show-pass eye p2" id="show-pass-p2">
                    <i class="fa fa-eye-slash"></i>
                    <i class="fa fa-eye"></i>
                  </span>
                        <ul class="errorlist">
                            <li id="errorConfirm"></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/usuarios" class="btn btn-sm btn-danger">Cancelar</a>
            <button class="btn btn-sm btn-primary" id="action">Cambiar</button>
          </div>
        </form>

    </div>

        {%endblock%}
        
        
         {%block scripts%} 
        <script src="{% static 'js/admin/changePassword.js'%}"></script>
        <script src="{% static 'js/usuarios/nuevo_usuario.js'%}"></script>
         {%endblock%}
        
        
        