{% extends "base1.html" %}
{% load static %}

{%block contenido%}


<body>
   
    <div class="container mt-4 d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="card col-md-6">
            <div class="card-header">
                <h2 class="text-center"> Aviso </h2> 
            </div>
            <div class="card-body">
                <div class="d-flex flex-column col-12" style="text-align: justify;">
                    <br>  
                    <p> Le hemos <b>enviado por correo electrónico instrucciones para configurar su contraseña</b>, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</p>
                    <p> <b> Nota: Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado. </b></p>
            
                </div>
            </div>
        </div>    
    </div>
  </body>

{% endblock %}

